.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

form {
    height: 680px;
    width: 420px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(53, 53, 53, 0.6);
    padding: 50px 35px;
}
form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 700;
    color: black;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    color: black;
    background-color: #e4e4e4;
}
::placeholder {
    color: #8f8f8f;
}
button {
    margin-top: 50px;
    width: 100%;
    background-color: #21006d;
    color: #ffffff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.fail-login {
    display: none;
    height: 50px;
    width: 100%;
    padding: 10px 10px;
    background-color: #ff6161;
    border-radius: 3px;
}
p {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#login {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

form h3 {
    font-size: 100px;
    font-weight: 1000;
    line-height: 42px;
    text-align: center;
    color: #21006d;
}
.test {
    color: rgb(255, 209, 4);
}

.title {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    background-image: white;
    color: black;
}

#login .form {
    background-color: #f1f1f1;
    width: 100%;
    max-width: 480px;
    padding: 0.5rem;
}

#login .field {
    padding-bottom: 0.5rem;
}

#login .field label {
    display: block;
}

#login .field input {
    width: 100%;
}

#login .actions {
    text-align: center;
    margin-top: 0.5rem;
}
